@use "/src/vars" as *;

.dotHoverHelper {
  fill: transparent;
}

.dot {
  fill: #42567a;
  stroke: transparent;
  r: 3px;
}

.num {
  font-size: 20px;
  fill: #42567a;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  text-anchor: middle;
  dominant-baseline: central;
}

.title {
  opacity: 0;
  fill: #42567a;
  font-size: 20;
  font-weight: bold;
  user-select: none;
  dominant-baseline: central;
}

.group {
  &.active {
    cursor: default;

    .num {
      opacity: 1;
      transition: $transition;
    }

    .dot {
      r: 27.5px;
      fill: $background;
      stroke: rgba(#303e58, 0.5);
    }

    .title {
      opacity: 1;
      transition: $transition;
      user-select: auto;
    }
  }

  &.hover {
    cursor: pointer;
  }
}

.circle {
  stroke: $blackBlue;
  opacity: 0.2;
}

.wrapper {
  display: block;
}
