@use "/src/vars" as *;

.swiper {
  height: 100%;
}

.slide {
  display: flex;
  gap: 80px;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding-bottom: 40px;
  padding-right: 45px;

  @include mobile {
    padding-right: 0;
    gap: 20px;
    justify-content: space-between;
    height: 186px;
    border-bottom: 1px solid #C7CDD9;
  }
}

.year {
  font-size: 200px;
  font-weight: bold;

  @include tablet {
     font-size: 142px;
  }

  @include mobile {
    font-size: 56px;
  }

  &.from {
    color: #5d5fef;
  }

  &.to {
    color: #ef5da8;
  }
}
