@use "/src/index.scss" as *;

.swiper {
  height: 100%;
  padding-bottom: 40px !important;
}

.slide {
  display: flex;
  gap: 80px;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.year {
  font-size: 200px;
  font-weight: bold;

  &.from {
    color: #5d5fef;
  }

  &.to {
    color: #ef5da8;
  }
}

.controls {
  position: absolute;
  bottom: 0;
  left: 78px;
  padding: 2px;
}

.pagination {
  --swiper-pagination-fraction-color: #42567a;
  font-size: 14px;
}

.navigation {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.navEl {
  border: 1px solid rgba(66, 86, 122, 0.5);
  border-radius: 100%;
  aspect-ratio: 1;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  transition: $transition;

  &:hover {
    scale: 1.05;
  }

  &:global(.swiper-button-disabled) {
    opacity: 0.5;
    cursor: default;

    &:hover {
      scale: initial;
    }
  }
}

.prevEl {
  display: inherit;
}

.nextEl {
  display: inherit;
}
